@charset "utf-8";
/* CSS Document */

body {
background-color:#f6f6f6;
font:11px Verdana;
}

h1 {
color:#CE0000;
}

#wripper {
width:650px;
margin:100px auto;
backgrond-color:#C3E0F9;
}

#header {
margin:0 auto;
height:75px;
background-image:url(../img/Header.png);
background-repeat:no-repeat;
}

#content {
padding: 20px 30px;
}

#pic {
position: relative;
left:50;
top:120;
}

#butt {
position: absolute;
left:294px;
top:-14px;
}

#phones {
position:fixed;
width:32px;
height:180px;
top:250px;
left:0;
}