@charset "utf-8";
/* CSS Document */

body {
width: 100%;
padding:0;
margin:0;
background-color:#f6f6f6;
font:11px Verdana;
}

a:link {
color: #4C8AC7; /* Цвет ссылок */
}

a:hover {
color: #82B1DD; /* Цвет активной ссылки */ 
}

a:visited {
color: #4C8AC7; /* Цвет посещенных ссылок */
}

h1 {
color:#CE0000;
}

#wrapper {
width:650px;
margin:30px auto;
background-color:#C3E0F9;
}

#header {
margin:0 auto;
height:75px;
background-image:url(../img/Header.png);
background-repeat:no-repeat;
}

#content {
padding: 20px 30px;
background-color:#fff;
}

#pic {
position: relative;
left:50;
top:120;
}

#butt {
position: absolute;
left:460px;
top:15px;
}

a img {
border: none; /* Убираем рамку */
}

#phones {
position:fixed;
width:32px;
height:180px;
top:110px;
left:0;
}

.date, .auth {
color:#BFBFB3;
font: 10px Verdana;
}